body {
  margin: 0;
  background-color: white;
  color: black;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}
